* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: #f0f2f5;
  padding: 0px 30px;
}

legend {
  margin-left: 20px;
  padding-bottom: 7px;
  font-size: 20px;
}

fieldset {
  border: 1.5px solid lightskyblue;
  padding: 0px 10px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.container {
  display: grid;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  border-color: rgb(185, 209, 255);
  box-shadow: 0 0 15px black;
  margin: 30px auto;
}

.submit {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.submit button {
  padding: 7px;
  background: linear-gradient(to bottom, rgb(53, 174, 255), rgb(43, 86, 194));
  text-shadow: 0 0 20px rgb(83, 83, 83);
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  display: grid;
  gap: 10px;
  margin: 20px 0px;
}

.form-group label {
  margin-left: 10px;
  font-size: 18px;
}

input {
  margin-top: -5px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid lightgray;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 1.5px solid lightgreen;
}

input:focus {
  outline: none;
}

select {
  margin-top: -5px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid lightgray;
}

textarea {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid lightgray;
  resize: vertical;
}

.required::after {
  content: "*";
  color: red;
}

:required:empty {
  box-shadow: 0 0 2px;
}
